*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
input{
    width: 200px;
    border: none;
    background-color: green;
}
p{
    font-size: 19px;
    font-family: sans-serif;
    background-color: lightgray;
}